root = true

[*]
insert_final_newline = true
charset = utf-8

[*.{js,ts,less,css,scss,html,json}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
indent_size = 4
