<form name="formsForm" class="form-horizontal" novalidate role="form" shared-form-init>
    <fieldset>
        <legend>Legend</legend>

        <div class="form-group"">
            <label for="email2" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <div class="input-group">
                    <input id="email2" name="email2" type="email" class="form-control"
                        ng-model="forms.email" placeholder="email" autofocus required>
                    <span class="input-group-addon"><i class="fa fa-hand-spock-o"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input id="email" name="email" type="email" class="form-control"
                    ng-model="forms.email" placeholder="email" required>
                <div ng-messages="formsForm.email.$error">
                    <div ng-message="email">Enter valid email id</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input id="password" name="password" type="password" class="form-control"
                    ng-model="forms.password" placeholder="password" required minlength="8">
                <div ng-messages="formsForm.password.$error">
                    <span ng-message="minlength">Password should be at least 8 characters.</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="url" class="col-lg-2 control-label">Homepage</label>
            <div class="col-lg-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                    <input id="url" name="url" type="url" class="form-control"
                        ng-model="forms.url" placeholder="homepage address" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">Verify</button>
                    </span>
                </div>
                <div ng-messages="formsForm.url.$error">
                    <div ng-message="url">Invalid homepage URL</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-lg-2 control-label">Phone</label>
            <div class="col-lg-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input id="phone" name="phone" type="tel" class="form-control"
                        ng-model="forms.phone" placeholder="phone" required>
                </div>
                <div ng-messages="formsForm.phone.$error">
                    <div ng-message="tel">Invalid phone number</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Radios</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""> Option one is this
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Option two can be something else
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Single Select</label>
            <div class="col-lg-10">
                <shared-dropdown id="select" name="select" class="form-control" ng-model="forms.selectedValue"
                    items="forms.selectData" display-text="text" value="value" required></shared-dropdown>
                <pre>{{forms.selectedValue | json}}</pre>
            </div>
        </div>

        <div class="form-group">
            <label for="multiselect" class="col-lg-2 control-label">Multiple Select</label>
            <div class="col-lg-10">
                <shared-dropdown id="multiselect" name="multiselect" class="form-control" ng-model="forms.selectedValues"
                    items="forms.selectData" display-text="text" value="value" multiple required></shared-dropdown>
                <pre>{{forms.selectedValues | json}}</pre>
            </div>
        </div>

        <div class="form-group">
            <label for="checkbox" class="col-lg-2 control-label">Checkboxes and toggles</label>
            <div class="col-lg-10">
                <div>
                    <label>
                        <shared-checkbox id="checkbox" name="checkbox" ng-model="forms.checkedValue"
                            true-value="'YES'" false-value="'NO'">
                        </shared-checkbox> Checkbox label
                    </label>
                </div>
                <div>
                    <label>
                        <shared-checkbox id="toggle" name="toggle" ng-model="forms.checkedValue" toggle
                            true-value="'YES'" false-value="'NO'">
                        </shared-checkbox> Toggle label
                    </label>
                </div>
                <pre>{{forms.checkedValue | json}}</pre>
            </div>
        </div>

        <div>
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>