<!doctype html>
<html lang="en" ng-app="app" ng-strict-di>
<head>
    <base href="/">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Angular Template</title>

    <!-- build:css css/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
    <app></app>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/modules.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- custom-modules -->

    <!-- build:js js/config.js -->
    <!-- inject:config:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
